/* Header */
.header {
  .navbar {
    padding: 41px 0;
    .container-fluid {
      justify-content: end;
      //.navbar-brand {
      //  margin-right: ;
      //}
      .nav-sign {
        background-color: #483E3E;
        padding: 6px 15px;
        border-radius: 30px;
        color: white;
        font-family: $menu-font;
      }
    }
  }
}
