/*--### Colors ###--*/
//$primary: #ff0300;
//
//$lightGrey: #cbcbcb;
$GreenishBlue: #298888;
$SmokeyGrey: #707070;
$BluishGrey: #6E908A;
//$dark: #0e0e0e;
$black: #000000;
$white: #ffffff;

/*--### Font Family ###--*/
/*--### FONTS ###--*/
@font-face {
	font-family: Arial;
	src: url(../fonts/arial/ArialTh.ttf);
  }
  
$menu-font: "Arial";
$heading-font: "Arial";


@font-face {
	font-family: Helvetica_Neue;
	src: url(../fonts/Helvetica_Neue/Helvetica\ Neue\ Medium.ttf);
  }
$text-font: "Helvetica_Neue";
